<div class="time">
  <aside class="details">Countdown to the big event</aside>
  <aside class="details married">Have been Married for:</aside>
  <aside class="countdown"></aside>
</div>
<!-- Footer -->
<footer>
  <div class="footer">
    <aside><a href="/">The Madu Wedding</a></aside>
  </div>
</footer>

</body>
</html>