<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/gallery.css">
</head>

  <div class="gallery-banner">
    <h2>Gallery</h2>
    <div class="gallery-img">
      <img src="/images/camera.png">
    </div>
  </div>

  <!-- Main -->
   <main class="gallery-main">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="/images/arch_stair.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/nigerian_outfit.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/orange_tree.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/fall_leaves.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/stand_sidewalk.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/orange_flowers.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/arch_walk.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/casual_walk.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/casual_walk_two.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images//nice_door.jpeg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/green_door.jpg" class="gallery-pic">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/nigerian_pose.jpg" class="gallery-pic">
        </div>
      </div>
    </div>
   </main>

  <!-- Footer -->
  <%- include("footer"); -%>