<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/hotel.css">
</head>

  <div class="hotel-banner">
    <img class="flowers" src="../images/pink_rose_bush.png" alt="white roses" />
    <h2>Book Hotel</h2>
  </div>

  <!-- Main -->
   <main class="hotel-main">
    <p>
      If you plan on staying in the hotel where
      the wedding is taking place, please follow this 
      link to book a room!
    </p>
    <div class="hotel">
      <a href="" target="_blank">Book hotel</a>
    </div>
   </main>

  <!-- Footer -->
  <%- include("footer"); -%>