<!-- Head and Header -->
<%- include('header'); %>

  <div class="banner">
    <h2>Tochi & Yvonne</h2>
  </div>

  <!-- Main -->
  <main>
    <h2 class="annouce">Tochi and Yvonne are getting married!</h2>
    <div class="info">
      <aside class="details">When:</aside>
      <h2>Friday, May 23, 2025</h2>
      <h3>Anaheim, California</h3>
    </div>
    <div class="reserve">
      <button class="rsvp-button"><a href="/rsvp">RSVP</a></button>
    </div>
  </main>

  <!-- Footer -->
  <%- include("footer"); -%>