<!-- Head and Header -->
<%- include("header"); %>

  <div class="banner">
    <h2>Tochi & Yvonne</h2>
  </div>

  <!-- Main -->
  <main>
    <h2 class="annouce">Tochi and Yvonne are getting married!</h2>
    <div class="info">
      <aside class="details">When:</aside>
        <div class="trad-ceremony">
          <h2>Friday, May 23, 2025</h2>
          <h3>Traditional Celebration</h3>
          <aside>Anaheim, California</aside>
        </div>
        <div class="wedd-ceremony">
          <h2>Saturday, May 24, 2025</h2>
          <h3>Wedding Ceremony</h3>
          <aside>Anaheim, California</aside>
        </div>
    </div>
    <div class="reserve">
      <a href="/rsvp">RSVP</a>
    </div>
  </main>

  <!-- Footer -->
  <%- include("footer"); -%>