<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/info.css">
</head>

  <div class="info-banner">
    <img class="flowers" src="/images/color_floral-compressed.jpg" alt="multi colored rose floral" />
    <h2>FAQ</h2>
    <div class="info-img">
      <img src="/images/info.png" alt="information graphic">
    </div>
  </div>

  <!-- Main -->
   <main class="info-main">
    <span style="font-family: Playfair;">More information coming...</span>
   </main>

  <!-- Footer -->
  <%- include("footer"); -%>