<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/our_story.css">
</head>

<div class="story-banner">
  <img class="flowers" src="../images/white_flower.png" alt="white roses" />
  <h2>Our Story</h2>
  <div class="story-img">
    <img src="/images/wedding-ring.png">
  </div>
</div>

<!-- Main -->
<main class="story-main">
  <p>Our story coming soon ...</p>
</main>

<!-- Footer -->
 <%- include("footer"); -%>