<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/our_story.css">
</head>

<div class="story-banner">
  <img class="flowers" src="../images/white_flower-compressed.jpg" alt="white roses" />
  <h2>Our Story</h2>
  <div class="story-img">
    <img src="/images/wedding-ring.png">
  </div>
</div>

<!-- Main -->
<main class="story-main">
  <div class="story-container">
    <h2>Her:</h2>
    <p>
      He was the first person I met at USC medical school. 
      We met at a new student welcome luncheon. We had a nice 
      conversation and remained friendly after that. During 
      our third year of medical school, the pandemic struck and 
      we were kept out of clinical duties that required direct 
      contact with patients. That is when we had more time on our 
      hands and would hang out. We realized we had similar interests, 
      such as going on hikes. So it was special when he decided to 
      propose on a beautiful morning hike at Griffith park. 
    </p>
    <h2>Him:</h2>
    <p>
      I met her at Dr. Henry Ford’s house. I remember she had silver hair 
      and I thought it looked cool. I made her laugh at all my jokes 
      (of course she laughed, I’m very funny). Then I would see her in 
      class and she looked good. The rest is history. 
    </p>
  </div>
</main>

<!-- Footer -->
 <%- include("footer"); -%>