<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/registry.css">
</head>

  <div class="registry-banner">
    <img class="flowers" src="../images/color_bouquet-compressed.jpg" alt="colorful bouquet of flowers" />
    <h2>Registry</h2>
  </div>

  <!-- Main -->
   <main class="registry-main">
    <p>
      Thank you for visiting our registry!
      Your support and presence at our wedding 
      is the greatest gift you can give, but if 
      you'd like to contribute, please click 
      the link below and help us build our new life 
      togther through some of the suggestions we have!
    </p>
    <div class="registry">
      <a href="https://www.honeyfund.com/site/Adigwu-Madu2025?no_gdpr=1" target="_blank">Registry</a>
    </div>
   </main>

  <!-- Footer -->
  <%- include("footer"); -%>