<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/registry.css">
</head>

  <div class="registry-banner">
    <h2>Registry</h2>
    <div class="registry-img">
      <img src="/images/long_flowers.png" alt="vector art flower">
    </div>
  </div>

  <!-- Main -->
   <main class="registry-main">
    <span style="font-family: Playfair;">Registry coming soon!</span>
   </main>

  <!-- Footer -->
  <%- include("footer"); -%>