<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/rsvp.css">
</head>

  <div class="rsvp-banner">
    <img class="flowers" src="../images/red_roses.png" alt="white roses" />
    <h2>RSVP</h2>
    <div class="rsvp-img">
      <img src="/images/invitation.png" alt="image of invite">
    </div>
  </div>

  <!-- Main -->
   <main class="rsvp-main">

    <div class="guide">
      <h1>How to RSVP</h1>
      <ul>
        <li>Select the event(s) you are planning to attend</li>
        <li>Enter your first and last name to RSVP.</li>
        <li class="middle-li">If you plan on bringing a guest, press "Add Guest" and enter their first and last names.</li>
        <li>Press submit when you have added all the names.</li>
      </ul>
    </div>

    <div class="form-info">
      <form action="/rsvp" method="post" class="rsvp">

        <fieldset class="radio-buttons">

          <legend>Which events will you be attending:</legend>
          <label for="both" aria-required="true">
            <input type="radio" class="radios" id="both" name="event-attendance" value="both" required/>
            Attending Traditional Reception and Wedding Reception
          </label><br/>
          <label for="ceremony">
            <input type="radio" class="radios" id="ceremony" name="event-attendance" value="ceremony">
            Only Wedding Reception
          </label><br/>
          <label for="celebration">
            <input type="radio" class="radios" id="celebration" name="event-attendance" value="celebration" />
            Only Traditional Reception
          </label><br/>

        </fieldset>

        <div id="guest_1" class="guests">
          <label for="firstName_1"></label>
          <input name="firstName_1" id="firstName_1" class="guest_1" autocomplete="on" placeholder="First Name" type="text" required>
          <input name="lastName_1" id="lastName_1" class="guest_1" autocomplete="off" placeholder="Last Name" type="text" required>
        </div>
        <aside class="input-alert">Please fill out fields before adding guest</aside>
        <div class="guestButtons">
          <button type="button" name="addGuest" id="addGuest">+ Add Guest</button>
          <button type="button" name="removeGuest" id="removeGuest"> - Remove Prev.</button>
        </div>

        <button name="confirmGuests" id="confirmGuests">Submit</button>
      </form>
    </div>
    
   </main>

  <!-- Footer -->
  <%- include("footer"); -%>