<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/schedule.css">
</head>

  <div class="schedule-banner">
    <h2>Schedule</h2>
    <div class="schedule-img">
      <img src="/images/calendar.png">
    </div>
  </div>

  <!-- Main -->
   <main class="schedule-main">
    <div class="schedule-container">
      <!-- Traditional Ceremony -->
    <div class="events traditional">
      <h2>Friday, May 23, 2025</h2>
      <h3>Traditional Ceremony</h3>
      <aside>6:00 pm - 12:00 am</aside>
      <p>
        <strong>Sheraton Park Hotel at Anaheim Resort</strong><br>
        <a href="https://maps.app.goo.gl/Jswi52aHs2445hiN9" target="_blank">1855 S Harbor Blvd, Anaheim, CA 92802</a>
      </p>
    </div>
    <hr>
    <!-- White Wedding -->
    <div class="events wedding">
      <h2>Saturday, May 24, 2025</h2>
      <h3>Wedding Ceremony</h3>
      <aside>2:00 pm - 3:00 pm</aside>
      <p>
        <strong>Christ Cathedral in St. Callistus Chapel</strong><br>
        <a href="https://maps.app.goo.gl/sqJKGZz7sy71eYAS7" target="_blank">Chapman Ave, Garden Grove, CA 92840</a> 
      </p>
    </div>
    <hr class="top-line">
    <!-- Cocktail Hour -->
    <div class="events cocktail">
      <h2>Saturday, May 24, 2025</h2>
      <h3>Cocktail Hour</h3>
      <aside>5:00 pm - 6:00 pm</aside>
      <p>
        <strong>Sheraton Park Hotel at Anaheim Resort</strong><br>
        <a href="https://maps.app.goo.gl/Jswi52aHs2445hiN9" target="_blank">1855 S Harbor Blvd, Anaheim, CA 92802</a>
      </p>
    </div>
    <hr>
    <!-- Wedding Reception -->
    <div class="events reception">
      <h2>Saturday, May 24, 2025</h2>
      <h3>Wedding Reception</h3>
      <aside>6:00 pm - 12:00 am</aside>
      <p>
        <strong>Sheraton Park Hotel at Anaheim Resort</strong><br>
        <a href="https://maps.app.goo.gl/Jswi52aHs2445hiN9" target="_blank">1855 S Harbor Blvd, Anaheim, CA 92802</a>
      </p>
    </div>
    </div>
    
  </main>
   
<!-- Footer -->
<%- include("footer"); -%>