<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/rsvp.css">
</head>

  <div class="rsvp-banner">
    <img class="flowers" src="/images/red_roses-compressed.jpg" alt="roses" />
    <h2>RSVP</h2>
    <div class="rsvp-img">
      <img src="/images/invitation.png" alt="image of invite">
    </div>
  </div>

  <!-- Main -->
  <main class="rsvp-main">
    <div class="form-info thanks">
      <h3> You have successfully registered, thank you! </h3>
    </div>
  </main>

  <!-- Footer -->
  <%- include("footer"); -%>