<!-- Head and Header -->
<%- include("header"); -%>
<head>
  <link rel="stylesheet" href="/css/wedding_party.css">
</head>


  <div class="party-banner">
    <img class="flowers" src="../images/carnations-compressed.jpg" alt="white roses" />
    <h2>Wedding Party</h2>
  </div>

  <!-- Main -->
   <main class="party-main">
    <div class="container text-center">
      <div class="row pairs bride-groom">
        <!--Bride and Groom-->
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Yvonne Adigwu</h4>
          <span>Bride</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Tochi Madu</h4>
          <span>Groom</span>
        </div>
      </div>
      <hr>
      <!--Matron of honor and Best man-->
      <div class="row pairs honors">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Fhanysha</h4>
          <span>Matron of Honor</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Victor</h4>
          <span>Best Man</span>
        </div>
      </div>
      <hr>
      <!--Party Pair One-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Janae</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Chidi</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Two-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Daisha</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Chido</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Three-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Jocelyn</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Jason</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Four-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Nedra</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Ian</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Five-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Kayla</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Ikedi</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Six-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Erika</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Chinag</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Seven-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Amarachi</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Darryl</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Eight-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Ihuoma</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Elton</h4>
          <span>Groomsman</span>
        </div>
      </div>
      <hr>
      <!--Party Pair Nine-->
      <div class="row pairs">
        <div class="col-sm-12 col-md-6 top-col">
          <h4>Gigi</h4>
          <span>Bridesmaid</span>
        </div>
        <div class="col-sm-12 col-md-6">
          <h4>Uche</h4>
          <span>Groomsman</span>
        </div>
      </div>
    </div>
   </main>

   <!-- Footer -->
   <%- include("footer"); -%>