@media only screen and (min-width: 0px) {
  header {
    position: relative;
    background-color: #4d5d53;
  }
  
  .info-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 4rem);
    min-height: calc(25rem - 4rem);
    width: 100vw;
    border-bottom: 1px solid #4d5d53;
  }

  .info-banner > img.flowers {
    width: 55vw;
    height: 25vw;
    max-height: 400px;
    max-width: 800px;
    min-height: 150px;
    min-width: 300px;
  }

  .info-banner h2 {
    position: relative;
    font-size: 3rem;
    color: #4d5d53;
    text-align: center;
    font-family: "Playfair";
    width: 100%;
    height: fit-content;
  }

  .info-img {
    position: relative;
    width: 4rem;
    height: 4rem;
  }

  .info-banner img {
    height: 100%;
    width: 100%;
  }
  
  .info-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 4rem 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .info-banner { 
    height: calc(70vh - 4rem);
    min-height: calc(40rem - 4rem);
  }

  .info-banner h2 {
    font-size: 5rem;
  }

  .info-img {
    height: 6rem;
    width: 6rem;
  }
}

@media only screen and (min-width: 920px) {
  header {
    background-color: transparent;
  }
  
  .navigation li a {
    color: #4d5d53;
  }

  .info-banner {
    height: calc(100vh - 10vh);
    min-height: 40rem;
  }

  .info-banner h2 {
    font-size: 5rem;
  }

  .info-img {
    height: 6rem;
    width: 6rem;
  }
}