@media only screen and (min-width: 0px) {
  header {
    position: relative;
    background-color: #4d5d53;
  }
  
  .story-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 4rem);
    min-height: calc(25rem - 4rem);
    width: 100vw;
    border-bottom: 1px solid #4d5d53;
  }

  .story-banner > img.flowers {
    width: 50vw;
    height: 25vw;
    max-height: 400px;
    max-width: 800px;
    min-height: 150px;
    min-width: 300px;
  }

  .story-banner h2 {
    position: relative;
    font-size: 3rem;
    color: #4d5d53;
    text-align: center;
    font-family: "Playfair";
    width: 100%;
    height: fit-content;
  }

  .story-img {
    position: relative;
    width: 4rem;
    height: 4rem;
  }

  .story-banner img {
    height: 100%;
    width: 100%;
  }
  
  .story-main {
    display: flex;
    flex-wrap: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 4rem 2rem;
  }

  .story-container {
    width: 90%;
    max-width: 26rem;
  }

  .story-container h2{
    color: #4d5d53;
  }
}


/* Responsive design for tables/ 768 width screens */
@media only screen and (min-width: 768px) {
  .story-banner {
    height: calc(70vh - 4rem);
    min-height: calc(40rem - 4rem);
  }

  .story-banner h2 {
    font-size: 4rem;
  }

  .story-img {
    height: 6rem;
    width: 6rem;
  }

  .story-main {
    padding: 8rem 4rem 4rem 4rem;
  }
  
}


/* Responsive design for 920 width screens */
@media only screen and (min-width: 920px) {
  header {
    background-color: transparent;
  }

  .navigation li a {
    color: #4d5d53;
  }

  .story-banner {
    height: calc(100vh - 10vh);
    min-height: 40rem;
  }

  .story-banner h2 {
    font-size: 5rem;
  }

  .story-img {
    height: 8rem;
    width: 8rem;
  }

}