@media only screen and (min-width: 0px) {
  header {
    position: relative;
    background-color: #4d5d53;
  }
  
  .registry-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 4rem);
    min-height: calc(25rem - 4rem);
    width: 100vw;
    border-bottom: 1px solid #4d5d53;
  }

  .registry-banner > img.flowers {
    width: 50vw;
    height: 25vw;
    max-height: 400px;
    max-width: 800px;
    min-height: 150px;
    min-width: 300px;
  }
  
  .registry-banner h2 {
    position: relative;
    font-size: 3rem;
    color: #4d5d53;
    text-align: center;
    font-family: "Playfair";
    width: 100%;
    height: fit-content;
  }

  .registry-banner img {
    height: 100%;
    width: 100%;
  }
  
  .registry-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 4rem 2rem;
  }

  .registry-main p {
    width: 90%;
    max-width: 400px;
    text-align: center;
  }

  .registry {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .registry a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 10rem;
    height: 4rem;
    background-color: #FFFFFF;
    box-shadow: none;
    border: 2px solid #4D5D53;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: #4D5D53;
  }

  .registry a:hover {
    background-color: #4D5D53;
    color: #FFFFFF;
  }

}

/* Responsive design for 768 width screens */
@media only screen and (min-width: 768px) {
  .registry-banner {
    height: calc(70vh - 4rem);
    min-height: calc(40rem - 4rem);
  }

  .registry-banner h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .registry-img { 
    width: 30rem;
    height: 13rem;
  }
  

  .registry-main {
    padding: 8rem 4rem 4rem 4rem;
  }
}


/* Responsive design for 920 width screens */
@media only screen and (min-width: 920px) {
  header {
    background-color: transparent;
  }
  
  .navigation li a {
    color: #4d5d53;
  }

  .registry-banner {
    height: calc(100vh - 10vh);
    min-height: 40rem;
  }

  .registry-banner h2 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .registry-img {
    width: 32rem;
    height: 13.5rem;
  }
}

/* Responsive design for 1200 width screens */
@media only screen and (min-width: 1200px) {
  .registry-img {
    width: 36rem;
    height: 16rem;
  }
}