@media only screen and (min-width: 0px) {
  header {
    position: relative;
  }
  
  .schedule-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 4rem);
    min-height: calc(25rem - 4rem);
    width: 100vw;
    border-bottom: 1px solid #4d5d53;
  }

  .schedule-banner > img.flowers {
    width: 55vw;
    height: 25vw;
    max-height: 400px;
    max-width: 800px;
    min-height: 150px;
    min-width: 300px;
  }

  .schedule-banner h2 {
    position: relative;
    font-size: 3rem;
    color: #4d5d53;
    text-align: center;
    font-family: "Playfair";
    width: 100%;
    height: fit-content;
  }

  .schedule-img {
    position: relative;
    width: 4rem;
    height: 4rem;
  }

  .schedule-banner img {
    height: 100%;
    width: 100%;
  }

  .schedule-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
  }
  
  .schedule-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
  }

  .events {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Playfair";
  }


  hr {
    width: 100%;
    max-width: 28rem;
    margin: 3rem 0;
  }

  .events h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .events h3 {
    width: 100%;
    text-align: center;
    font-family: "Parisienne";
  }

  .events p {
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0;
  }

  .events a {
    color:#36802d;
  }
}

/* Responsive design for 768 width screens */
@media only screen and (min-width: 768px) {
  .schedule-banner {
    height: calc(70vh - 4rem);
    min-height: calc(40rem - 4rem);
  }

  .schedule-banner h2 {
    font-size: 4rem;
  }

  .schedule-img {
    height: 6rem;
    width: 6rem;
  }
  
  .schedule-main {
    padding: 8rem 4rem 4rem 4rem;
  }


}

/* Responsive design for 920 width screens */
@media only screen and (min-width: 920px) { 
  .navigation li a {
    color: #4d5d53;
  }


  .schedule-banner {
    height: calc(100vh - 10vh);
    min-height: 40rem;
  }

  .schedule-banner h2 {
    font-size: 5rem;
  }

  .schedule-img {
    height: 6rem;
    width: 6rem;
  }
  
  .events {
    width: 50%;
    max-width: 60vw;
    font-size: 1.5rem;
    padding: 1rem;
  }


  .events h2 {
    font-size: 2.25rem;
  }

  .events h3 {
    font-size: 2rem;
  }

  hr {
   display: none;
  }

  .top-line {
    display: flex;
    width: 90%;
    max-width: 80vw;
    margin: 3rem;
  }
}
